@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --primary-color: #009FFD;
    --secondary-color: #2A2A72;
    --accent1-color: #232528;
    --accent2-color: #EAF6FF;
    --heading-font: 'Merriweather Sans', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --nav-background-color: #333;
    --nav-link-color: #fff;
    --nav-hover-link-color: #ccc;
    --nav-hover-background-color: #444;
}

header {
    padding: 1px;
    margin: 10px;
}

p {
    color: black;
}

* {
    max-width: 960px;
}

a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 315px;
    left: 150px;
    font-style: italic;
    background-color: gainsboro;
    opacity: 0.8;
}

article {
    position: absolute;
    top: 50%;
    left: 150px;
    background-color: bur;
    opacity: 0.8;
    margin: 20px;
    width: 200px;
    padding: 10px;
    height: max-content;
    border: 1px solid #1450aa;
}

article img {
    position: absolute;
    top: 10%;
    left: 200px
}
