@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --primary-color: #009FFD;
    --secondary-color: #2A2A72;
    --accent1-color: #232528;
    --accent2-color: #EAF6FF;
    --heading-font: 'Merriweather Sans', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
    --nav-background-color: #333;
    --nav-link-color: #fff;
    --nav-hover-link-color: #ccc;
    --nav-hover-background-color: #444;
}

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    background-color: beige;
    gap: 20px;
    margin-bottom: 10px;
}

p {
    color: black;
}

* {
    max-width: 960px;
}

a {
    text-decoration: none;
}

.hero img {
    display: block;
    width: 100%;
}

h1 {
    position: absolute;
    color: #fff;
    top: 400px;
    left: 300px;
    font-style: oblique;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 3rem;
    transform: translate(-50px, -50px);
}

article {
    position: absolute;
    bottom: 10px;
    width: 69%;
    left: 10px;
    padding: 20px;
    text-align: justify;
}

article img {
    float: right;
    max-width: 150px;
    margin-left: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-self: center;
    font-size: 2rem;
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

section {
    grid-template-columns: 5fr;
}

.socialinks {
    display: flex;
    justify-content: flex-start;
}

.socialinks a {
    text-decoration: none;
    color: var(--primary-color);
}

.socialinks a:hover {
    color: var(--accent1-color);
}
