* {
    margin: 0;
    padding: 0;
    max-width: 940px;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}   

nav a {
    color: white;
    display: block;
    padding: 20px;
    font-size: 20px;
    font-weight: 100;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid steelblue;
    font-size: 25px;
    font-weight: 800;
    padding: 5px;
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

p {
    padding: 5px;
    margin: 10px;
}

aside {
    width: 400px;
    margin: 20px;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 50px;
    left: 65px;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    max-width: 700px;
    border: 1px solid black;
    padding: 1rem;
    background-color: whitesmoke;
    color: #333
    
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2;
}

aside {
    grid-row: 1;
}


  
