* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 960px;
}


nav {
    background-color: steelblue;
    padding: 10px;
}   

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    color: steelblue;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

main {
    max-width: fit-content;
}

p {
    padding: 5px;
    margin: 10px;
}

aside {
    width: 400px;
    margin: 20px;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 50px;
    left: 65px;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    max-width: 700px;
    border: 1px solid black;
    padding: 1rem;
    background-color: whitesmoke;
    color: #333
    
}
